extends ../layout

block content
  .container
    .row
      nav.navbar.navbar-default
        div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
          form.navbar-form.navbar-right(role="search")
            div.form-group
              input.form-control(type="text", placeholder="Search")
            button(type="submit", class="btn btn-default") Submit
      table.table.table-striped
        tbody
          each story in stories
            tr(class="story-id-#{story._id}")
              td: a(target="_blank", href="#{story.url}") #{story.title}
